body {
    display: flex;
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    align-items: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #2a2a2a;
  }
  
  .bg-dark {
    background-color: #2b2d2f;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #bbc4cc;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .errors{
    color: rebeccapurple;
  }
  .form-group .form-control {
    width: auto;
    max-width: 100%;
    margin-right: 5px;
    background-color: var(--color-input-contrast-bg);
}
.py-1 {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}


element.style {
}
.btn-primary.disabled, .btn-primary:disabled, .btn-primary[aria-disabled=true] {
    color: var(--color-btn-primary-disabled-text);
    background-color: #94d3a2;
    border-color: var(--color-btn-primary-disabled-border);
}
.btn.disabled, .btn:disabled, .btn[aria-disabled=true] {
    color: var(--color-text-disabled);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
}
.btn.disabled, .btn:disabled, .btn[aria-disabled=true] {
    cursor: default;
}
.width-full {
    width: 100%!important;
}
.btn-large {
    padding: .75em 1.5em;
    font-size: inherit;
    line-height: 1.5;
    border-radius: .5em;
}
.btn-primary.disabled {
  color:#959da5;
  background-color: #94d3a2;
  border-color: #959da5;
  box-shadow: var(--color-btn-primary-shadow),var(--color-btn-primary-inset-shadow);
}
.btn-primary {
    color:#fff;
    background-color: #2ea44f;
    border-color: var(--color-btn-primary-border);
    box-shadow: var(--color-btn-primary-shadow),var(--color-btn-primary-inset-shadow);
}