
{% extends 'admin/master.html' %}
{% block body %}
<!-- <button id='go_back'>Go back</button>

<script type="text/javascript">
  document.getElementById('go_back').onclick = function(){
      location.href = " {{ url_for('experiment_select') }} "
  }
</script> -->
<h1>Admin/Profesor Page</h1>
<h3>In this page you can see all the tables and modify their contents</h3>
<ul>
  <li>On the User tab, you can acces all data from the users enrolled on the site
    and add, delete or update their contents. You also can give a normal account 
    administrator privilages.
  </li>
  <li>
    On the Experiment Data tab, you can acces all data from the sensors, modify it or delete any entry 
  </li>
  <li>
    On the Experiments tab, you can add an experiment, modify the description or the name of the experiment,
    or you can delete the entire experiment
  </li>
</ul>

{% endblock %}