<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
          crossorigin="anonymous">
          
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Title of the page-->
    {% if title%}
        <title>{{title}}</title>
    {% else %}
        <title>Add Title</title>
    {% endif %}
</head>
<body>
    <header class="site-header"></header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <div>
                    <a class="navbar-brand mr-4" href="{{ url_for('live') }}">Stream</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                            <a class="nav-item nav-link" href="{{url_for('register')}}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class='row'>
          <div class="col-sm-6">
            <!--Showing the messages-->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role='alert'>
                        {{ message }}
                        <!--Script for the messages to disappear-->
                        <script type="text/javascript">
                            $(document).ready(function () {
                                window.setTimeout(function() {
                                    $(".alert").fadeTo(2000, 500).slideUp(1000, function(){
                                        $(this).remove(); 
                                    });
                                });
                            });
                        </script>
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock content %}
            </div>
        </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>