<meta charset="utf-8" />
{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <!--The form is passed from the route-->
  <form method="POST" action="" class="form-group justify-content-center">
    {{ form.hidden_tag() }}
    <div class="justify-content-center">
      <fieldset class="container text-center form-group justify-content-center">
        <legend>Log in</legend>
        <div class="container">
          <div>
            {{ form.email.label(class="form-label") }}
            <!--This is a validation for email
             if is wrong then it flashes an error message-->
            {% if form.email.errors %} {{ form.email(class=("is-invalid"))}}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>error</span>
              {% endfor %}
            </div>
            {% else %}
            <!--this shows the field to complete and to pass the value-->
            {{ form.email(class="form-label") }} {% endif %}
          </div>
          <div class="">
            {{ form.password.label(class="form-label") }}
            <!--This is a validation for password
             if is wrong then it flashes an error message-->
            {% if form.password.errors %} {{
            form.password(class=("is-invalid"))}}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>error</span>
              {% endfor %}
            </div>
            {% else %}
            <!--this shows the field to complete and to pass the value-->
            {{ form.password(class="") }} {% endif %}
          </div>
        </div>

        <!--Remember me <div>-->
        <div class="form-check">
          {{ form.remember(class="form-check-input") }} 
          {{ form.remember.label(class="form-check-label") }}
        </div>
        <!--Login <div>-->
        <div>
          <div class="">{{ form.submit(class="") }}</div>
          <small class="text-muted ml-2">
            <a href="#">Forgot Password?</a>
          </small>
        </div>
        <!--Bottom Text "Sign up now" <div>-->
        <div>
          <small class="text-muted">
            Don't have an account?
            <a class="" href="{{ url_for('register') }}"> Sign Up Now! </a>
          </small>
        </div>
      </fieldset>
    </div>
  </form>
</div>
{% endblock content %}
