<meta charset="UTF-8">
{% extends "layout2.html" %}
{% block content %}
<h1>only stream</h1>
<!-- <div class='container-fluid' >
    <img alt='my video'class='img-responsive border border-5'src="{{ url_for('stream') }}">
</div> -->
<link rel='stylesheet' href="/static/main.css" />
<div class="container-fluid">
    <div class="row-">
        <div class="col">
            <img class='border border-5 ' onerror='this.src="/static/images/placeholder.jpg"' 
                    src="{{ url_for('stream') }}"su>
        </div>
    </div>
</div>
{% endblock content %}