{% extends "layout2.html" %}
{% block content %}
<div style="display: grid; place-items: center;">
  <form method="POST" action="" class="card" style="padding: 2em;">
    {{ form.hidden_tag() }}
    <fieldset class="" >
      <legend style="display: grid; place-items: center;">Join Today</legend>
      <!--firts_name field-->
      <div class="form-group">
        {{ form.first_name.label(class="") }}
        {{ form.first_name(class='form-control py-1')}}
      </div>
      {% if form.first_name.errors %}
        <div class="errors">{% for error in form.first_name.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
      <!--END firts_name field-->
      <!--last_name field-->
      <div class="form-group">
        {{ form.last_name.label(class="") }}
        {{ form.last_name(class='form-control py-1')}}
      </div>
      {% if form.last_name.errors %}
        <div class="errors">{% for error in form.last_name.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
      <!--END last_name field-->
      <!--Username Field-->
      <div class="form-group">
        {{ form.username.label(class="") }}
        {{ form.username(class='form-control py-1')}}
      </div>
      {% if form.username.errors %}
        <div class="errors">{% for error in form.username.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
      <!-- END Username Field-->
      <!--Email Field-->
      <div class="form-group">
        {{ form.email.label(class="") }}
        {{ form.email(class='form-control py-1')}}
      </div>
      {% if form.email.errors %}
        <div class="errors">{% for error in form.email.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
      <!-- END Email Field-->
      <!--Password Field-->
      <div class="form-group">
        {{ form.password.label(class="") }}
        {{ form.password(class='form-control py-1')}}
      </div>
      {% if form.password.errors %}
        <div class="errors">{% for error in form.password.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
      <!-- END Password Field-->
      <!--Confirm Password Field-->
      <div class="form-group">
        {{ form.confirm_password.label(class="") }}
        {{ form.confirm_password(class='form-control py-1')}}
      </div>
      {% if form.confirm_password.errors %}
        <div class="errors">{% for error in form.confirm_password.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
        <!-- Profesor Token Field-->
        <div class="form-group mx-auto">
          {{ form.profesor_token.label(class="") }}
          {{ form.profesor_token(class='form-control py-1')}}
        </div>
        {% if form.profesor_token.errors %}
          <div class="errors">{% for error in form.profesor_token.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <!--END Profesor Token Field -->
        <!--Submit Button-->
    <div class="mx-auto" style="display: grid; place-items: center; margin: 1em;">
      {{ form.submit(class="btn btn-primary.disabled btn-primary") }}
    </div>  
      </div>
    </fieldset>
  </form>

<div class="" style="display: grid; place-items: center;">
  <small class="text-muted">
    <!--For the url_for you need to pass the name of the function 
        not of the decorator-->
    Already have an account? <a class="" href="{{url_for('login')}}">Sign In</a>
  </small>
</div>
</div>
{% endblock content %}