<meta charset="utf-8" />
{% extends "layout2.html" %} {% block content %}
<div class="" style="display: grid; place-items: center;">
  <!--The form is passed from the route-->
  <form method="POST" action="" class="form-group justify-content-center">
    {{ form.hidden_tag() }}
      <fieldset style="display: grid; place-items: center;">
        <legend style="display: grid; place-items: center;">Reset Password</legend>

          <div class="form-group">
            {{ form.email.label(class="") }}
            {{ form.email(class='form-control py-1')}}
          </div>
          {% if form.email.errors %}
            <div class="errors">{% for error in form.email.errors %}{{ error }}{% endfor %}</div>
          {% endif %}

        <!--Login <div>-->
          <div style="display: grid; place-items: center; margin-top: 1em; padding: 0;">{{ form.submit(class="btn btn-primary") }}</div>
      </fieldset>
  </form>
</div>
{% endblock content %}
