<meta charset="UTF-8">
{% extends "layout2.html" %}
{% block content %}
<!-- <div class='container-fluid' >
    <img alt='my video'class='img-responsive border border-5'src="{{ url_for('stream') }}">
</div> -->
<h1>Experiment {{data[1]}}</h1>
<link rel='stylesheet' href="/static/main.css" />
<div class="container-fluid">
    <div class="row-">
        <div class="col">
            <img class='border border-5 ' onerror='this.src="/static/images/placeholder.jpg"' src="{{ url_for('stream') }}" width="720" height="480">
        </div>
        <div id='table' class="col">
            <table  class="table">
                <tr class="table__header">
                    {% for header in headers %}
                        <th class="table__cell">{{ header }}</th>
                    {% endfor %}
                </tr>
            
                <td class="table__cell">{{ data[0] }}</td>
                <td class="table__cell">{{ data[1] }}</td>
                <td class="table__cell">{{ data[2] }} cm</td>

            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        setInterval(function(){
            $('#table').load(location.href +  " #table");
        }, 5000);
    }
    )
</script>
{% endblock content %}
